$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/components-font-awesome/fonts/";
@import "../bower_components/components-font-awesome/scss/font-awesome.scss";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$font-color-dark: #eee;
$font-color-white: #fff;

$default-font: "Open Sans", Arial, sans-serif;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600|Open+Sans+Condensed:300,700);

body {
  background: #fff;
  color: #222;
  font-family: $default-font;
  padding: 0;
}

a {
  color: #333;
  &:hover {
    color: #333;
    text-decoration:none; 
    cursor: pointer;
  }
}

.main {
  margin-bottom: 50px;
}

.footer {
  margin: 10px 0;
  font-weight: 300;
  text-align: center;
  font-size: 12px;
  z-index: 1000;
  a{text-decoration: underline}
  a:hover{font-weight: 400;}
}

.homepage {
  margin-top: 15%;
  h1 {
    text-align: center;
    margin-bottom: 20px;
    a {
      display: block;
      font-size: 48px;
      color: #333;
      font-weight: 300;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
  h2 {
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
    font-weight: 300;
    display: block;
  }
}

.event-title {
  font-weight: 300;
  font-size: 13px;
  color: #fff;
  background-color: #333;
  padding: 10px 15px 10px;
  margin: 0;
  span {
    font-weight: 400;
  }
  a {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}

.navbar-default {
  padding: 2px 0;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #eee;
  border-radius: 0px;
  margin-bottom: 20px;

  .navbar-brand {
    padding: 8px;
    font-size: 28px;
    font-weight: 300;
  }
}

.form-control, .btn {
  border-radius: 0
}

.col-player, .col-playlist, .col-ad {
  padding: 0;
}
.embed-responsive-item {
  z-index: 0;
}

.music-list {
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin: 0;
  height: 100%;

  button.list-group-item {
    font-weight: 300;
    padding: 8px 6px;
    border-right: none;
    border-left: none;
    font-size: 15px;
    &:hover {
      cursor: pointer;
    }
    &:first-child {
      border-top: none;
      border-radius: 0;
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0;
    }
  }
  a {
    color: #555;
    &:hover {
      text-decoration: underline;
    }
  }
  .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: rgb(217, 83, 79);
    border-color: #BB3E3E;
    z-index: 0;
    a { color: #fff; }
  }
  .music-info {
    margin-top: 1px;
    font-size: 10px;
    font-weight: 600;
    display: block;
    .music-info-item {
      margin-right: 5px;
    }
    .music-info-hearts {
      // display: inline-block;
      float: right;
    }
  }
}

.player {
  border-bottom: 3px solid #D9534F;
  // margin-bottom: 5px;
}
.player-controls {
  font-size: 24px;
  font-weight: 300;
  background-color: #111;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 3px solid #D9534F;
  
  .player-button-group {
    padding: 3px;
    text-align: center;
    
    .active {
      color: #EC2721;
    }
    a {
      color: #fff;
      margin: 0 5px;
      text-align: center;
      &:hover {
        text-decoration: none;
        color: rgb(217, 83, 79);
      }
    }
  }
  .player-infos {
    padding: 3px;
    color: #eee;
    h3 {
      font-size: 16px;
      padding: 8px 0;
      margin: 0;
    }
    span { font-size: 10px; }
  }
  .player-about {
    padding: 3px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    a { color: #ddd; font-weight: 600 }
    a:hover { text-decoration: underline }
  }
}

.details {
  font-weight: 300;
  font-size: 13px;
  color: #fff;
  background-color: #333;
  padding: 10px 0px;
  span {
    font-weight: 400;
  }
  a {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }

  .alter-btn {
    font-weight: 600;
    background-color: #555;
    padding: 2px 10px;
    border: 1px solid #5f5f5f;
    &:hover, &:active {
      text-decoration: none;
      background-color: #444;
      border: 1px solid #4f4f4f;

    }
  }
}

.col-right {
  text-align: right;
}

.fb-btn-container {
  text-align: center;
  width: 100%;
  button {
    margin-top: 10px;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.loading {
  display: block;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  margin-top: 20%;
  margin-bottom: 100%;
}
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@media (max-width: 767px) {
  .navbar-form .input-group {
    width: 100%;
  }
  .player-infos {
    text-align: center;
  }
  .player-about {
    display: none;
  }
  .player-controls .player-infos h3 {
    font-size: 12px;  
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-form .input-group {
    width: 205px;
  }
  .player-infos {
    padding: 0;
    text-align: center;
    h3 {
      font-size: 12px;
    }
  }
  .player-about {
    padding: 0;
    display: none;
  }
  .player-controls .player-infos h3 {
    font-size: 12px;  
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-form .input-group {
    width: 425px;
  }
}

@media (min-width: 1200px) {
  .navbar-form .input-group {
    width: 625px;
  }
}


