<div class="homepage">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1>
        <a href="#/"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> EvPlaylist</a>
      </h1>
      <h2>Playlists made from Facebook Events posts</h2>
    </div>
  </div>

  <div class="row" data-ng-show="logged">
    <div class="col-md-offset-3 col-md-6">
      <form 
      class="navbar-form navbar-left"
      role="search" 
      data-ng-show="logged"
      data-ng-submit="formSubmit()">
        <div class="input-group">
          <input 
          type="text" 
          class="form-control" 
          placeholder="Insert the event URL here and..." 
          ng-model="eventLink"
          onClick="this.setSelectionRange(0, this.value.length)" >
          <span class="input-group-btn">
            <button type="submit" class="btn btn-danger" >
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>
  </div>

  <div class="row" data-ng-show="!logged">
      <div class="col-lg-offset-3 col-lg-6">
        
        <div class="input-group fb-btn-container">
          <button type="button" class="btn btn-primary btn-large" data-ng-click="login()">Login with Facebook (required)</button>
        </div>

        <!-- <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-click="logout()">Logout</button> -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div>