<div class="main">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> EvPlaylist</a>
        </div>

        <form 
        class="navbar-form navbar-left"
        role="search" 
        data-ng-show="logged"
        data-ng-submit="formSubmit()">
          <div class="input-group">
            <input 
            type="text" 
            class="form-control" 
            placeholder="Insert the event URL here and..." 
            ng-model="eventLink"
            onClick="this.setSelectionRange(0, this.value.length)" >
            <span class="input-group-btn">
              <button type="submit" class="btn btn-danger" >
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
              </button>
            </span>
          </div><!-- /input-group -->
        </form>

        <a style="font-weight: 700" class="btn btn-danger navbar-btn navbar-right" href="https://brunoluizone.typeform.com/to/QTLCIS" data-mode="1" target="_blank">Avalie o site</a>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  <div class="row alerts">
    <div class="col-lg-offset-3 col-lg-6 loading" ng-show="loading">
      <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
    </div>
    <div class="alert alert-danger" role="alert" ng-show="error.status && error.noevent">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> No event found on this URL!
    </div>
    <div class="alert alert-danger" role="alert" ng-show="error.status && error.nocontent">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> No video was posted on this event!
    </div>
  </div>

  <div class="row player" ng-show="logged && !loading && !error.status">
    <div class="col-lg-8 col-player">
      <div class="embed-responsive embed-responsive-16by9">
        <youtube-video 
        class="embed-responsive-item"
        video-id="player.music.ytid" 
        player="ytPlayer" 
        player-vars="player.ytVars"
        ></youtube-video>
      </div>
    </div>
    <div class="col-lg-4 col-playlist">
      <div class="list-group music-list">
          <button
          type="button"
          class="list-group-item"
          ng-show="player.musics.length"
          ng-repeat="(pos, music) in player.musics"
          ng-click="listItemClick(music, pos)"
          ng-class="{active: pos === player.music.pos}"
          >
            <span class="badge">{{music.duration.minutes}}:{{music.duration.seconds}}</span> 
            {{music.title}}
            <span class="music-info">
              <span class="music-info-item music-info-post">
                <i class="fa fa-external-link"></i> <a target="blank_" href="http://facebook.com/{{music.id}}">Go to post</a> 
              </span>
              <span class="music-info-item music-info-user">
                <i class="fa fa-user"></i> <a target="blank_" href="http://facebook.com/{{music.from.id}}">{{music.from.name}}</a>
              </span>
              <span class="music-info-item music-info-hearts">
                <i class="fa fa-heart"></i> {{music.rank}}
              </span>
            </span>
          </button>
        </div>
    </div>
  </div>
  <div class="row details">
    <div class="col-lg-8">
      <span>Playlist from: </span>
      <a href="http://facebook.com/{{fbEvent.id}}" target="_blank">{{fbEvent.title}}</a>
    </div>
    <div class="col-lg-4 col-right">
      <a class="alter-btn" href="http://facebook.com/{{fbEvent.id}}" target="_blank"><i class="fa fa-external-link"></i> See on Facebook</a>
      <!-- AddToAny BEGIN -->
      <a class="a2a_dd alter-btn" href="https://www.addtoany.com/share_save"><i class="fa fa-share-alt-square"></i> Share</a>
      <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->
    </div>
  </div>
</div>

<div class="player-controls">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 player-button-group">
        <a ng-click="playerPrevious()"><i class="fa fa-step-backward"></i></a>
        <a ng-click="playerTooglePlay()" ng-show="!player.playing"><i class="fa fa-play"></i></a>
        <a ng-click="playerTooglePlay()" ng-show="player.playing"><i class="fa fa-pause"></i></a>
        <a ng-click="playerNext();"><i class="fa fa-step-forward"></i></a>
        <a ng-class="{active: shuffle === true}" ng-click="playerToogleShuffle();"><i class="fa fa-random"></i></a>
      </div>
      <div class="col-md-7 player-infos">
        <h3>{{player.music.title}}</h3>
      </div>
      <div class="col-md-3 player-about">
        Made by <a href="http://brunoluiz.net" target="_blank" >Bruno Luiz</a> <br/>
        <a href="mailto:contato@brunoluiz.net"><i class="fa fa-envelope-o"></i> contato@brunoluiz.net</a> 
        <a href="http://facebook.com/brunoluiz" target="_blank" ><i class="fa fa-facebook"></i> Facebook</a> 
      </div>
    </div>
  </div>
</div>